.header {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* Text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}
/* Styles for mobile menu button */
.mobile-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px; /* Adjust as needed */
}

/* Styles for the mobile menu bars */
.bar {
  display: block;
  width: 25px; /* Adjust as needed */
  height: 3px; /* Adjust as needed */
  background-color: #333; /* Adjust as needed */
  margin: 5px auto; /* Adjust as needed */
}

/* Styles for the mobile menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 115px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: #ffffff; /* Adjust as needed */
  border: 1px solid #dddddd; /* Adjust as needed */
  z-index: 1000; /* Ensure it appears above other elements */
  padding: 10px; /* Adjust as needed */
  border-radius: 5px; /* Adjust as needed */
}

/* Reset default margin and padding for the list */
.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style for anchor links */
.mobile-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333; /* Adjust as needed */
}

/* Hover effect */
.mobile-menu a:hover {
  background-color: #f4f4f4; /* Adjust as needed */
}
.mobile-menu.active {
 display: block;
} 