<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
  <header class="header">
  <div class="logo">
    <img src="{{site.baseurl}}/assets/images/logo.png" alt="Logo">
    <h1>FAITHTrips</h1>
  </div>
  <button class="mobile-menu-button" aria-label="Toggle Mobile Menu">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</button>
  <nav class="mobile-menu">
  <ul> 
    <h2>{% for item in site.data.navigation %}
       <a href="{{ site.baseurl }}{{ item.link }}">
          <li>{{ item.name }}</li>
    </a>
  {% endfor %}</h2>
 </ul>
</nav>
</header>    

    {% include navigation-side.html %}
    {{ content }}
  </body>
</html>